{{page-title "Login"}}
<div class="container-lg">
    <Navbar />
    <div class="row casa-login-form flex-column align-items-center">
        <form {{on "submit" this.login}} class="col-md-4">
            <div class="mb-3">
                <label for="username" class="form-label" name="username">Username:</label>
                <input type="text" class="form-control" {{on "change" (fn this.update "username")}}>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" name="password">Password:</label>
                <input type="password" class="form-control" autocomplete="on" {{on "change" (fn this.update "password")}}>
            </div>
            <button type="submit" class="btn btn-success px-4">Login</button>
        </form>
        {{#if this.error}}
            <div class="col-4 mt-3">{{this.error}}</div>
        {{/if}}
    </div>
</div>